.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    form {
        padding: 30px 50px 35px;
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 10px;
        h1 {
            align-self: center;
            font-size: 1.8rem;
            margin-bottom: 10px;
            font-family: 'Roboto', sans-serif;
        }
        input {
            margin: 10px;
            text-align: center;
            padding: 4px 25px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: rgb(245,247,250);
        }
        .submit-button {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}