.header-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 1.6rem;
    align-items: center;
    .logo {
        font-family: 'Satisfy';
        margin: 0 10px;
        i {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid black;
        }
    }
    .search {
        form {
            input {
                text-align: center;
                padding: 4px 25px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: rgb(245,247,250);
            }
        }
    }
    .nav-buttons {
        margin: 0 10px;
        i {
            padding: 0 10px;
        }
    }
}